@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#fff;
}



/* Custom CSS
 * --------------------------------------- */
body{
	font-family: arial,helvetica !important;
	color: #fff !important 
}
.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	position: relative;
}
h1{
	font-size: 6em !important;
}
h2{
	font-size: 4em !important;
}
p{
	font-size: 1.5em !important;
}
span{
	font-size: 1.2em !important;
}
label {
	font-weight: lighter;
	font-size: 1.2em !important;
}
.intro p{
	margin: 0 auto;
	width: 70%;
}
.section{
	text-align:center;
	
}
#menu li {
	display:inline-block;
	margin: 10px;
	color: #fff;
}
#menu li:hover {
	background-color: #EFAE48;
}
#menu li.active{
	color: #fff;
	background-color: #EFAE48;
}
#menu li a{
	text-decoration:none;
	color: #fff;
}
#menu li.active a:hover{
	color: #fff;
	background-color: #EFAE48;
}
#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display: block;
}
#menu li.active a{
	text-decoration: none;
}
#menu{
	position:fixed;
	top:0;
	left:0;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
	text-align: center;
	color: #fff;
	background-color: #331F21;
}
